.lesssection {
  position: relative;
  margin-bottom: 20px;
}
.lesssection__inner {
  background: #191919;
  border-radius: 6px;
  padding: 22px;
}
.lesssection__title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}
.lesssection__row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.lesssection__block {
  display: flex;
  justify-content: center;
}
.lesssection__button {
  background: #6c3eb8;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
/* sort */
.lesssection__sort {
  position: absolute;
  top: 15px;
  width: 220px;
}
.lesssection__item {
  user-select: none;
  cursor: pointer;
  padding: 10px 18px;
  background-color: #212123;
  transition: 0.2s;
}
.lesssection__items {
  transition: 0.3s;
  margin-top: 10px;
  visibility: hidden;
  opacity: 0;
}
.open__sort {
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}
.lesssection__items.open__sort .lesssection__item {
  border-bottom: 1px solid grey;
}
.lesssection__item:hover {
  padding-left: 20px;
}
