@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}
::-webkit-scrollbar {
  width: 10px;
  /* background-color: #191919; */
}
::-webkit-scrollbar-thumb {
  background-color: #191919;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #212123;
  color: #fff;
}
.conteiner {
  max-width: 1260px;
  margin: 0 auto;
}
